---
import ProfilePic from '../assets/you-tiao-dec.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Alex Leung"
	description="Lorem ipsum dolor sit amet"
	heroImage={ProfilePic}
>
	<p>
		Welcome to my site!
	</p>

	<p>
		I use this site to document my professional ideas about ongoing projects and technology in general.
		I also host my resume <a href="/resume">here</a>.
		If you're looking for my personal opinions on life and politics, head to my <a href="https://www.facebook.com/alex.l.leung/" target="_blank">facebook page</a>.
	</p>
</Layout>
