---
import SocialLinks from './SocialLinks.astro';
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Alexander Leung. All rights reserved.
	<br />
	This site was built with <a href="https://astro.build/" target="_blank">Astro</a>. Feel free to <a href="https://github.com/ozyman42/blog" target="_blank">fork it</a>.
	<br />
	Code snippets rendered using <a href="https://github.com/shikijs/twoslash" target="_blank">Shiki Twoslash</a>
	<div class="social-links-footer">
		<SocialLinks />
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links-footer {
		display: flex;
		justify-content: center;
		margin-top: 1em;
	}
</style>
